.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;

    .button {
        margin-top: 20px;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        width: 100%;
    }
}
