.Label {
    background-color: white;
    position: absolute;
    padding: 3px;

    &--input,
    &--date,
    &--time,
    &--number,
    &--file {
        bottom: 26px;
        left: 6px;
    }

    &--textarea {
        bottom: 117px;
        left: 6px;
    }

    &--date,
    &--time {
        z-index: 9;
    }

    &__required {
        color: #a50203;
        font-weight: bolder;
        margin-left: 3px;
    }

    &__text {
        font-size: 14px;
    }
}
