.textarea {
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;

    &__required {
        color: #a50203;
        font-weight: bolder;
    }

    textarea {
        height: 126px;
        width: 100%;
        padding: 10px 5px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 14px;
    }
}
