.Account {
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        display: flex;
        gap: 10px;
        margin-bottom: 32px;

        .button {
            text-decoration: none;
            cursor: pointer;

            &.active {
                text-decoration: underline;
            }
        }
    }

    .form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .input {
            border: 1px solid black;
            border-radius: 4px;
            height: 43px;
            padding: 0px 20px;
            width: 100%;
            box-sizing: border-box;

            &__container {
                margin: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                width: 85%;
            }

            input {
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0;
                border: unset;
                border-radius: 4px;
                font-size: 20px;

                &:focus {
                    outline: unset;
                }
            }
        }

        .button {
            padding: 0px 15px;
            background-color: #e9f5f8;
            border-radius: 30px;
            width: 85%;
            border: 4px solid #bce1ea;
            text-align: center;
            margin: 40px 0px;
            font-family: "Lucida Console", "Courier New", monospace;
            letter-spacing: 3px;

            &:hover {
                cursor: pointer;
                background-color: #bce1ea;
            }

            button {
                border: unset;
                background-color: transparent;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media screen and (min-width: 950px) {
        .form {
            .input {
                &__container {
                    width: 33%;
                }
            }
        }
    }
}
